body, html{
    height:100%;
    margin: 0;
    font-size: 16px;
    font-family: "Loto", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  


.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*
    fixed:parallex
    scroll:normal
    */

    background-attachment: fixed;
}

.pimg1{
    background-image: url('../images/image1.jpg');
    min-height:600px;
}

.pimg2{
    background-image: url('../images/image2.jpg');
    min-height:400px;
}

.pimg3{
    background-image: url('../images/image3.jpg');
    min-height:400px;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform:uppercase;
}

.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans{
    background-color: transparent;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

@media(max-width:568px){
    .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
    }

    .ptext{
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
        font-size: 24px;
        letter-spacing: 4px;
        text-transform:uppercase;
    }
    
    .ptext .border{
        background-color: #111;
        color: #fff;
        padding: 10px;
    }
    
    .ptext .border.trans{
        background-color: transparent;
    }
}